body {
  font-family: 'Open Sans', sans-serif;
  color: #272829;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
}

a {
  color: #0563bb;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #067ded;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  padding: 60px 0;
  overflow: hidden;
}






